PUBLIC_NAKAMA_HOST=127.0.0.1
PUBLIC_NAKAMA_PORT=7350
PUBLIC_NAKAMA_KEY=defaultkey
PUBLIC_NAKAMA_USE_SSL=false
# Vite compat (also supported via import.meta.env)
VITE_NAKAMA_HOST=127.0.0.1
VITE_NAKAMA_PORT=7350
VITE_NAKAMA_KEY=defaultkey
VITE_NAKAMA_USE_SSL=false
